*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 30px;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

#nav-2{
    display: flex;
    justify-content: space-between;
    gap: 55px;
    align-items: center;
    list-style: none;
    padding: 10px;
}

#nav-2 li{
    font-size: 20px;
    font-weight: 500;
}

.main-section{
    height: 100%;
    width: 100%;
    /* background-color: green; */
}

#content h1{
    padding: 20px;
    font-size: 150px;
    font-weight: 400;
    letter-spacing: -5px;
    line-height: 1;
}

.main-section{
    padding: 50px;
}

.main-section h4{
    font-weight: 400;
    font-size: 30px;
}

#case{
    /* font-weight: 300; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 150px;
    padding: 20px;
}

#case h2{
    font-weight: 500;
}
#case h5{
    font-weight: 600;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
#line{
   display: flex;
   align-items: center;
   background-color: black;list-style: none;
   height: 2px;
   width: 100px;
}

.project{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: -400px; */

}

#elem1{
    height: 100%;
    width: 45%;
    /* background-color: blue; */
    background-image: cover;
    background-image: url(https://images.unsplash.com/photo-1702149001693-67ca09997ecc?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* margin-right: 15px; */
    border-radius: 20px;
    background-position: center;
}

#elem2{
    height: 100%;
    width: 45%;
    /* background-color: rgb(242, 246, 9); */
    background-image: url(https://images.unsplash.com/photo-1588690154757-badf4644190f?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* margin-left: 15px; */
    border-radius: 20px;
}

.labels{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(255, 0, 255); */
    align-items: center;
    padding: 10px;
}

.labels i{
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 40px;
    /* color: white; */
}

.labels i:hover{
    color: white;
    background-color: black;
}

#tag-1{
    height: 100px;
    width: 47%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


#tag-2{
    height: 100px;
    width: 47%;
    /* background-color: rgb(25, 71, 223); */
    display: flex;
    justify-content: space-between;
    padding: 20px;
}