*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 30px;
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

#nav-2{
    display: flex;
    justify-content: space-between;
    gap: 55px;
    align-items: center;
    list-style: none;
    padding: 10px;
}

#nav-2 li{
    font-size: 20px;
    font-weight: 500;
}

.main-section{
    height: 100%;
    width: 100%;
    /* background-color: green; */
}

#content h1{
    padding: 20px;
    font-size: 150px;
    font-weight: 400;
    letter-spacing: -5px;
    line-height: 1;
}

.main-section{
    padding: 50px;
}

.main-section h4{
    font-weight: 400;
    font-size: 30px;
}