* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

#nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#nav h3 {
  position: fixed;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
}

#menu {
  margin-left: 5px;
}

/* Intro Section */
#intro {
  height: 50%;
  width: 100%;
  padding: 30px;
}

#intro h1 {
  font-size: 120px;
  line-height: 120px;
  font-weight: 700;
  letter-spacing: -8px;
}

#place{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

#place i{
    font-size: 30px;
}

#place h3,
#place h4 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}

#scroll {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Section */
#img {
  height: 80%;
  width: 100%;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1696322296742-1c70122b7d0b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/* About Section */
#about {
  display: flex;
  padding: 70px;
  justify-content: space-between;
  align-items: center;
}

#about-1st h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

#about-2nd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid black;
  padding: 150px;
}

#about-2nd h3 {
  font-size: 30px;
}

#about-2nd h4 i {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 20px;
  border-radius: 40px;
  margin-left: 5px;
}

/* Work Section */
#work {
  border-top: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#first-work {
  width: 40%;
  padding: 40px;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-between;
}

#first-work h3,
#first-work i {
  font-size: 40px;
}

#second-work {
  width: 60%;
}

#second-one {
  display: flex;
  margin-left: 90px;
  padding: 10px;
}

#one-first {
  margin-right: 30px;
}

#one-sec {
  border-left: 2px solid black;
  padding-left: 100px;
}

#second-two {
  display: flex;
  margin-left: 90px;
  margin-top: 20px;
  border-top: 2px solid black;
  padding: 10px;
}

#two-first {
  padding-left: 0;
}

#two-sec {
  border-left: 2px solid black;
  margin-left: 8px;
  padding-left: 100px;
}
