@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: pink;

}
main{
    height: 100%;
    width: 100%;
    background-color: #E4FF6E;
}

nav{
    /* background-color: rgb(7, 11, 254); */
    height: 30px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .part2{
    display: flex;
    gap: 120px;
}

nav h2{
    font-size: 40px;
    font-weight: 100;
}

nav a:hover{
    color: black;
}

nav a{
    text-decoration: none;
    color: #768E17;
    font-size: 20px;
}

section{
    /* background-color: red; */
    padding: 60px 100px;
}

section .hero-text1{
    /* background-color: red; */
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

}

.hero-text1 h1{
    font-size: 200px;
    font-weight: 200;
    font-family: "Anton";
    text-transform: uppercase;
    line-height: 300px;
}

.hero-text1 .video{
    height: 150px;
    width: 500px;
    background-color: black;
    border-radius: 70px;
    margin-top: 70px;
    margin-right: 10px;
    background-image: url(https://images.unsplash.com/photo-1624628639856-100bf817fd35?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1074);
    background-size: cover;
    background-position: center;
    padding: 5px;
}

section .hero-text2{
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.hero-text2 h1{
    font-size: 200px;
    font-weight: 100;
    font-family: "Anton";
    text-transform: uppercase;
    line-height: 300px;
}

.hero-text2 p{
    font-size: 20px;
    width: 600px;
    text-transform: uppercase;
    margin-bottom: 60px;

}

.video .play{
    height: 100%;
    width: 150px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    
}

.play i{
    color: white;
    font-size: 50px;
}

/* image */

.image{
    height: 700px;
    width: 100%;
    background-color: red;
    border-radius: 20px;
}
